// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a, .btn-link {
    text-decoration: none;
}

.logo {
    text-align: center;
}

.logo img {
    height: 48px;
    margin: auto
}
